@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  background-image: linear-gradient(160deg, #FFFFFF 0%, #FFEFBA 50%, #FFD1B3 100%);
  color: #2d3436;
  min-height: 100vh;
  background-attachment: fixed; /* Keeps bg steady while scrolling */
}
.app {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}

/* Responsive container for smaller screens */
@media (max-width: 1050px) {
  .app { width: 90%; }
}

@media (max-width: 750px) {
  .app { width: 95%; }
}